
<div class="container-fluid">
<h1>Projet – The Graduated</h1>


<blockquote class="blockquote-reverse">
  <p>Il n’y a pas d’âge ni de diplôme pour entreprendre</p>
  <footer>Céline Lazorthes (Leetchi) <cite title="Source Title"><a href="https://fr.finance.yahoo.com/video/lenvers-l%C3%A9co-c%C3%A9line-lazorthes-fondatrice-133617088.html">Source</a></cite></footer>
</blockquote>


<span>Les femmes du numérique et des startups qui sont médiatisées sont-elles diplômés, de quelle école ?
Des associations comme Duchess prônent plus de diversité ? Qu’en est-il vraiment ?
Objectif : d’abord vérifier une hypothèse et voir les résultats.</span>
<br />
<h3>Premier temps</h3>

<span>Corpus constitué d’articles mettant en avant ces femmes
Sources précises : frenchweb, maddyness, lexpress, capital
Durée : depuis 2012</span>

<h3>Deuxième temps</h3>

<span>Cette galerie de portraits un peu plus etoffé, http://www.qfdn.net/ → plus de 400 portraits, peut être pas mal
</span>

<h4>Exemple de sources :</h4>

<ul>
	<li><a href="http://gitparis.com/2015/01/23/10-femmes-a-suivre-en-2015/">http://gitparis.com/2015/01/23/10-femmes-a-suivre-en-2015/</a></li>
	<li><a href="http://lentreprise.lexpress.fr/creation-entreprise/etapes-creation/le-monde-misogyne-des-start-up_1651092.html
	">http://lentreprise.lexpress.fr/creation-entreprise/etapes-creation/le-monde-misogyne-des-start-up_1651092.html
	</a></li>
	<li><a href="http://lentreprise.lexpress.fr/diaporama/diapo-photo/high-tech-innovation/11-femmes-du-numerique_1531814.html"></a>11 femmes du numériques 2012</li>
	<li><a href="http://lentreprise.lexpress.fr/creation-entreprise/idees-business/green-creative-la-start-up-qui-modernise-le-recyclage_1524712.html
	"></a>Portrait de Green Creative</li>
	<li><a href="#"></a>facebook de girl in tech</li>
</ul>


→ voir sur le 
1 Méthodologie :

Mettre photo de mon cahier

2 Technique de recueil :


une application web

<ul>
<li>champs de la base de données</li>
<li>source article : url</li>
<li>date de publication :</li>
<li>nom</li>
<li>prénom</li>
<li>société</li>
<li>diplôme 0</li>
<li>diplôme 1 / niveau / date / école / type école (commerce, ingénieur, université, etc.</li>
<li>diplôme 2</li>
<li>diplôme 3</li>
</ul>

Visualisation D3 : 

<ul>
<li>https://github.com/mbostock/d3</li>
<li>https://github.com/mbostock/d3/wiki/Gallery</li>
</ul>

Exemple

Céline Lazorthe / Leetchi
https://www.linkedin.com/in/lazorthes/fr

https://www.linkedin.com/edu/school?id=20389&trk=prof-edu-school-name

→ les écoles semblent être accessibles par id https://www.linkedin.com/edu/school?id=20389&trk=prof-edu-school-name

Gem nokogiri pour parser des documents html
http://www.nokogiri.org/tutorials/installing_nokogiri.html
les méthodes disponibles : http://www.rubydoc.info/github/sparklemotion/nokogiri/Nokogiri/XML/Document
</div>