<div class="container">
  <h1>The Graduated</h1>
  <h2>Peut-on vraiment être médiatisée comme entrepreneuse du web sans être diplômée d'une grande école ?</h2>
    <div class = "row">

      <form action="/analyse" method="post">
        <div class="form-group">
          <label>
            Proposez l'url d'un article (ex : http://gitparis.com/2015/01/23/10-femmes-a-suivre-en-2015/)
            <input type="url" size="100" name="url_article" class="form-control" placeholder="ex : http://gitparis.com/2015/01/23/10-femmes-a-suivre-en-2015/"/>
          </label>
        </div>
        <div class="form-group">
          <input type="submit" value="GIT PARIS" class="btn btn-primary"  />
        </div>
      </form>

      <h2>Graphique</h2>



    </div>
</div>
