<div class="container">
  <h1>The Graduated</h1>
  <h2>Peut-on vraiment être médiatisé comme entrepreneur du web sans être diplômé d'une grande école ?</h2>
    <div class = "row">

      <form action="/analyse" method="post">
        <div class="form-group">
          <label>
            Proposez un article
            <input type="url" size="100" name="url_article" class="form-control" />
          </label>
        </div>
        <div class="form-group">
          <input type="submit" value="Analysez" class="btn btn-primary" />
        </div>
      </form>

    </div>


</div>
